
.stripe{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align:center;
}
.menu{
    height:50px;
}
.stripe.menu{
    background:rgb(0,0,0);
    background:rgba(0,0,0,0.8);
    color:white;
    position:fixed;
    width:100%;   
}
.stripe.menu .menu-entry{
    margin:35px;
    font-size:14px;
    font-weight: 400;
}
.stripe.menu img.logo{
    height: 50px;
    vertical-align: middle;
} 
.product.stripe{
    display:flex;
    flex-direction: column;

}
.product.stripe .iphonexs{
   background-image:url("../images/iphone_xs_large.jpg");
   background-position: bottom;
   background-color:black;
   background-size:80%;
   background-repeat:no-repeat;
   color:white;
   height: 600px;
   margin-top:50px;
   margin-bottom:8px;
}
.product.stripe .iphonexs .text{
    color:rgba(102,187,255);
}
.product.stripe .iphonexs .logo{
    margin-top:20px;
    height:35px;
}
.product.stripe .iphonexr{
    background-image:url("../images/iphone_xr_large.jpg");
    background-position: bottom;
    background-color:black;
    background-size:100%;
    background-repeat:no-repeat;
    color:white;
    padding:30px;
    margin-bottom:6px;
    height:600px;
}
.product.stripe .iphonexr .text{
    color:rgba(102,187,255);
}
.product.stripe .watch{
    background-image:url("../images/apple_watch_series_4_large.jpg");
    background-position:68% 32%;
    right:100px;
    background-color:rgb(250,250,250);
    background-repeat:no-repeat;
    color:black;
    padding:200px;
    text-align: left;
    margin-top:6px;
    margin-bottom:6px;
}
.product.stripe .header{
    font-size: 27px;
    margin-top:20px;
    margin-bottom: 20px;
    font-weight:normal;
}
.product.stripe .text{
    color:rgb(0, 112, 201);
    font-size:21px;
    text-align:center;
}
.footer{
    background-color: #f2f2f2;
    color: #696b69;
    font-size: 11.3px;
    font-family: Sans-serif;
    padding-top: 6px;
    line-height: 43px;
}
.line{
    width: 75%; 
}
hr{
    border: 0.6px solid #d6d6d6;
}
.foothead{
    padding-left: 12.5%;
    color:#a7a59c;
}
.table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-left: -35px;
}
.ttl{
    font-weight: bold;
    color: black;
}
.table div{
    width: 15%;
}
ul{
    list-style: none;
    line-height: 25px;
    text-align: left;
}
.footbott{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -22px;
}
.footable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    height: 30px;
    line-height: 30px;
    padding-left: 80px;
    padding-right: 260px;
}
